/* 基本樣式 */
body {
	width: 400px;
	padding: 15px;
	font-family: 新細明體, sans-serif;
	background-color: #ffffff;
	/* 預設背景顏色 */
	color: #000000;
	/* 預設文字顏色 */
}

/* 表格樣式 */
.table {
	width: 100%;
	/* 使表格寬度為100% */
	color: inherit;
	/* 使表格文字顏色繼承自父元素 */
}

.table th {
	background-color: #f8f9fa;
	/* 表格標題背景顏色 */
	color: #000;
	/* 表格標題文字顏色 */
	padding: 10px;
	/* 表格標題內邊距 */
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
	/* 表格條紋顏色 */
	color: inherit;
	/* 確保文字顏色繼承 */
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
	color: inherit;
	/* 使奇數行的所有單元格文字顏色繼承自父元素 */
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: rgba(0, 0, 0, 0.05);
	/* 偶數行的背景顏色 */
	color: inherit;
	/* 確保文字顏色繼承 */
}

.table-striped>tbody>tr:nth-of-type(even)>* {
	color: inherit;
	/* 使偶數行的所有單元格文字顏色繼承自父元素 */
}

.table td {
	padding: 10px;
	/* 表格單元格內邊距 */
	color: #000;
	/* 表格單元格文字顏色 */
}

/* 按鈕樣式 */
#youtube-timeline-marker {
	background-color: #ff0000;
	/* 預設按鈕顏色 */
	color: #000000;
	/* 按鈕文字顏色 */
	border: none;
	padding: 10px 15px;
	border-radius: 50%;
	cursor: pointer;
	background-size: cover;
}

#youtube-timeline-marker:hover {
	background-color: #cc0000;
	/* 按鈕懸停顏色 */
}

/* 淺色模式樣式 */
.light-mode {
	background-color: #ffffff;
	/* 淺色模式背景顏色 */
	color: #000000;
	/* 淺色模式文字顏色 */
}

.light-mode .table th {
	background-color: #f8f9fa;
	/* 淺色模式表格標題背景顏色 */
	color: #000;
	/* 淺色模式表格標題文字顏色 */
}

.light-mode .table td {
	color: #000;
	/* 淺色模式表格單元格文字顏色 */
}

/* 夜間模式樣式 */
.dark-mode {
	background-color: #333;
	/* 夜間模式背景顏色 */
	color: #fff;
	/* 夜間模式文字顏色 */
}

.dark-mode .table th {
	background-color: #444;
	/* 夜間模式表格標題背景顏色 */
	color: #fff;
	/* 夜間模式表格標題文字顏色 */
}

.dark-mode .table td {
	color: #fff;
	/* 夜間模式表格單元格文字顏色 */
}

.dark-mode .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.1);
	/* 夜間模式條紋顏色 */
}

.dark-mode .table-striped>tbody>tr:nth-of-type(even) {
	background-color: rgba(255, 255, 255, 0.05);
	/* 夜間模式偶數行顏色 */
}

/* 添加其他自定義樣式 */